body{
    background-color: #fff3b0;
}
header{
    width: 100%;
    background-color: #e85d04;
    display: flex;
    justify-content: end;

}
img{
    width: 1000px;
    height: 200px;
}
header .uno{
   display: flex;
   padding: 10px;
}
h2{
    padding-top: 70px;
    font-family: 'Alkatra', cursive;
}
nav{
    width: 600px;
    border: 1PX solid black;
}
.nav-left-section{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 20px;
    line-height: 28px;
    background: #f5f5f0;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;   
}
.nav-left-section li:first-child{
    background: #f9dcc4;
}
li:hover{
    background: #f9dcc4;
}
main{
    display: flex;
    flex-direction: ;
}
