body{
    background-color: #fff3b0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
header{
    width: 100%;
    background-color: #ffbf69;
    display: flex;
    justify-content: end;

}
img{
    width: 1000px;
    height: 200px;
}
header .uno{
   display: flex;
   padding: 10px;
}
h2{
    padding-top: 70px;
    font-family: 'Alkatra', cursive;
}
nav{
    width: 600px;
    border: 1PX solid black;
}
.nav-section{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 20px;
    line-height: 28px;
    background: #d9d9d9;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;   
}
li:hover{
    background: #f9dcc4;
}
main{
   margin-top: 30px;
}
.main-name{
    display: flex;
    justify-content: center;
}
.imagen{
    width: 200px;
    height: 200px;
}
.secciones{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}
.descripcion{
    padding: 10px;
}

footer{
    background-color: #f2cc8f;
}
.footer{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.pie{
    justify-content: center;
}
